<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alarm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ContentExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F7314651D8325460025FD71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F7314791D8325460025FD71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F7314841D8325460025FD71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F9F742C1D8A16C0001FA66A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
